.article-container {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    width: 60vw;
}

.article {
    display: flex;
    flex-direction: row;
    margin: 1em;
    gap: 0.5em;
}

.article p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 2em;
}

.article-picture {
    width: 20vw;
    height: 10vw;
    object-fit: contain;

}
  
hr {
    background-color: grey;
    border: 1px solid grey;
}