.container-detail-article{
    margin: 0 2em 0 4em;
}

.article-title {
    font-size: 46px;
    text-align: center;
    margin-top: 0.5em;
}

.article-content {
    font-size: 24px;
    margin-top: 1em;
}