/*
  Footer
*/

footer {
    padding: 16px;
  }
  
  footer #footerTools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  
  footer p {
    margin-top: 16px;
  
    text-align: center;
    color: #aaaaaa;
  }
  
  footer p a {
    color: #db0000;
    text-decoration: none;
  }